doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/reset.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/styleChat.css')
        link(rel='stylesheet', href='stylesheets/main.css')
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
        style(type='text/css').
            .back-link a {
                color: #4ca340;
                text-decoration: none;
                border-bottom: 1px #4ca340 solid;
            }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

            h1 {
                height: 100%;
                /* The html and body elements cannot have any padding or margin. */
                margin: 0;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                margin-bottom: 3px;
            }

            .entry-header {
                text-align: left;
                margin: 0 auto 50px auto;
                width: 80%;
                max-width: 978px;
                position: relative;
                z-index: 10001;
            }

            #demo-content {
                padding-top: 100px;
            }
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='javascripts/modernizr.js')
        script(src='javascripts/jquery-2.1.1.js')
        script(src='javascripts/main.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/moment.min.js')
        script(src='https://use.typekit.net/ama5eep.js')
            script.
                try {
                    Typekit.load({async: true});
                } catch (e) {
                }
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
        script(src='/socket.io/socket.io.js')
    body
        header.cd-header
            a.cd-3d-nav-trigger
                | Menu
                span
        nav.cd-3d-nav-container
            ul.cd-3d-nav
                li
                    a(href='/home') Notifications Center
                li
                    a(href='/gestioneInteressi') Interessi
                li
                    a(href='/gestioneContatto') Anagrafica
                li
                    a(href='/gestioneEventi') Eventi
                li
                    a(href='/assegnaEvento') Invio Notifiche
                li
                    a(href='/gestioneNotifiche') Gestione Report
                li.cd-selected
                    a(href='/chatOperatoreSMS') Chat
                li
                    a(href='/logout') Logout
        br
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        br
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1(style='text-align: center;') Chat
        .container-fluid#ChatContainer
        br
        nav.navbar.navbar-default.navbar-fixed-bottom
            .container-fluid
                .row
                    a(target='_blank', href='http://www.ak12srl.it/', style="float:right; padding-top:8px")
                        img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                    h5(style="float:right; padding-top:18px") © Copyright 2018 - AK-12. All Rights Reserved.
                    h2#codOrg(style='text-align: center; display: none;') "#{name}"
    script(src='javascripts/controllers/chatOperatoreSms.js')